:root {
  --main-red: hsla(357, 81%, 50%, 1);
  --main-red_dark: hsla(357, 83%, 37%, 1);
  --main-red_light: hsla(357, 81%, 50%, 0.6);
}

p,
ul {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

a {
  color: inherit;
  transition: 0.3s;

  &:hover {
    color: inherit;
  }
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.app__wrapper {
  padding: 0 200px;
}

.arrow-icon {
  font-size: 10px;
}

.app__hr {
  color: hsla(0, 0, 0, 0.1);
  border-left: none;
  border-right: none;
  border-bottom: none;
  border-top: 1px solid hsla(0, 0, 0, 0.1);
  margin: 0;
}

@media screen and (max-width: 1080px) {
  .app__wrapper {
    padding: 0 20px;
  }
}
