.loginModal__form {
  .ant-form {
    margin-top: 40px;
  }
}

.loginModal__input {
  .ant-form-item-label {
    width: 30%;
    text-align: left;
  }
}

.loginModal__controls_signUp {
  margin-left: 20px;
  cursor: pointer;
  transition: 0.2s;
  color: var(--main-red);
  font-weight: bold;

  &:hover {
    text-shadow: 0px 0px 0px var(--main-red_dark);
  }
}
