.filterBlock_desctop {
  width: 256px;
  padding: 24px;
}

.filterBlock__drawer {
  .ant-drawer-content-wrapper {
    border-left: 1px solid hsla(0, 0%, 0%, 0.1);
  }
}

.filterBlock__item {
  margin-bottom: 20px;
  font-size: 16px;
}

.filterBlock__item__sort-select {
  &:hover {
    .ant-cascader-input {
      border-color: hsla(0, 0%, 0%, 0.6) !important;
    }
  }

  .ant-cascader-picker-label {
    color: var(--main-red);
  }
}

.filterBlock__item__sort-select.ant-cascader-picker:focus {
  .ant-cascader-input {
    border-color: hsla(0, 0%, 0%, 0.6) !important;
    box-shadow: 0 0 3px hsla(0, 0%, 0%, 0.65) !important;
  }
}

.filterBlock__item__sort-select.ant-cascader-picker-focused {
  .ant-cascader-input {
    border-color: hsla(0, 0%, 0%, 0.6) !important;
    box-shadow: 0 0 3px hsla(0, 0%, 0%, 0.65) !important;
  }
}

.filterBlock__item__category {
  cursor: pointer;
  transition: 0.3s;

  &:hover {
    color: var(--main-red_dark);
  }
}

.filterBlock__item__category_selected {
  background-color: hsla(0, 0%, 0%, 0.05);
  color: var(--main-red);
  border-radius: 3px;
  padding-left: 10px;

  &:hover {
    background-color: hsla(0, 0%, 0%, 0.1);
  }
}

.filterBlock__item__checkbox-group {
  .ant-checkbox-checked {
    .ant-checkbox-inner {
      background-color: var(--main-red);
    }
  }

  .ant-checkbox-wrapper:hover {
    .ant-checkbox-inner {
      border-color: var(--main-red_dark);
    }
  }

  .ant-checkbox-input:focus + .ant-checkbox-inner,
  .ant-checkbox-checked:after,
  .ant-checkbox-checked .ant-checkbox-inner {
    border-color: var(--main-red_dark);
  }
}

.filterBlock__item__slider {
  &:hover {
    .ant-slider-track {
      background-color: var(--main-red);
      opacity: 1;
    }
    .ant-slider:hover .ant-slider-handle:not(.ant-tooltip-open) {
      border-color: var(--main-red);
    }
    .ant-slider-handle {
      border-color: var(--main-red) !important;
    }
  }

  .ant-slider-track {
    background-color: var(--main-red);
    opacity: 0.6;
  }

  .ant-slider-handle {
    border-color: var(--main-red_light);

    &:focus {
      box-shadow: 0 0 0 5px hsla(0, 0%, 0%, 0.1);
    }
  }
}
.filterBlock__item__price-fields {
  display: flex;
  justify-content: space-between;

  .filterBlock__item__price-input.ant-input-number:hover {
    border-color: hsla(0, 0%, 0%, 0.5);

    .ant-input-number-handler-up-inner,
    .ant-input-number-handler-down-inner {
      color: var(--main-red_dark);
    }
  }

  .filterBlock__item__price-input.ant-input-number-focused {
    border-color: black;
    box-shadow: 0 0 2px hsla(0, 0%, 0%, 0.65);
  }
}

.filterBlock__controls {
  border: 1px solid hsla(0, 0%, 0%, 0.1);
  border-radius: 5px;
  padding: 15px 25px;
  margin-top: 20px;
  display: none;
  width: max-content;
  box-shadow: 0px 1px 2px hsla(0, 0%, 0%, 0.2);

  button {
    &:last-child {
      margin-left: 10px;
    }

    &:hover,
    &:focus {
      color: hsla(0, 0%, 0%, 0.65);
      border-color: hsla(0, 0%, 0%, 0.65);
    }
  }
}

@media screen and (max-width: 1080px) {
  .filterBlock__controls {
    display: block;
  }
}

@media screen and (max-width: 500px) {
  .filterBlock__drawer {
    width: 100% !important;
  }

  .filterBlock__item__price-fields {
    max-width: 200px;
  }
}
